body{
    width: 100%;
    min-height: 90vh;
   font-family: sans-serif; 
}
h1{
    color: aquamarine;
    font-size: 4em;
    align-items: center;
}
p{
    color: black;
    font-size: 2em;
    font-weight: 400;
}
.title{
    display: flex;
    justify-content: center;
}
.para{
    display: flex;
    justify-content: center;
}