body{
    width: 100%;
    min-height: 90vh;
   font-family: sans-serif; 
}
h1{
    color: aquamarine;
    font-size: 4em;
    align-items: center;
}
p{
    color: black;
    font-size: 2em;
    font-weight: 400;
}
.title{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.para{
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: inset 0 0 0 1px gainsboro;
}
.para:hover{
    width: 60%;
    box-shadow: inset 0 0 0 2px aquamarine;
}
.fa-quote-left:hover{ color: aquamarine; }